.player_gameboard {
}

body {
  background-color: #282828;
  margin: 0px;
  padding: 0px;
  color: #fbf1c7;
}

h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  grid-template-rows: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #7c6f64;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  margin: 10px;
}

.menu-button {
  padding: 5px 10px;
  background-color: #fe8019;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.gameboard {
  --field-width: 50px;
  --number-of-fields: 4;
  display: grid;
  grid-template-columns: repeat(var(--number-of-fields), var(--field-width));
  grid-template-rows: repeat(var(--number-of-fields), var(--field-width));
  gap: 5px;
}

.gameboardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.gameboard_field {
  background-color: #83a598;
  width: 50px;
  height: 50px;
}

.ship {
  background-color: #504945;
}

.hit {
  background-color: #fb4934; 
}

.sunk {
  background-color: #cc241d; 
}

.miss {
  background-color: lightblue;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.cancelCross {
  display: flex;
  justify-content: end;
}

.modal {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 600px;
  background-color: white;
  color: #282828;
}

.sizeButtonContainer {
  display: flex;
  gap: 10px;
}

.sizeButton {
  height: var(--sizeSelectBox);
  background-color: #83a598;
}
