.player_gameboard {
}

body {
  background-color: purple;
}

.gameboard {
  --field-width: 50px;
  --number-of-fields: 4;
  display: grid;
  grid-template-columns: repeat(var(--number-of-fields), var(--field-width));
  grid-template-rows: repeat(var(--number-of-fields), var(--field-width));
  gap: 5px;
}

.gameboardContainer {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.gameboard_field {
  background-color: sienna;
  width: 50px;
  height: 50px;
}

.ship {
  background-color: #282828;
}

.hit {
  background-color: brown; 
}

.sunk {
  background-color: greenyellow; 
}

.miss {
  background-color: lightblue;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.cancelCross {
  display: flex;
  justify-content: end;
}

.modal {
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: white;
}

.sizeButtonContainer {
  display: flex;
  gap: 10px;
}

.sizeButton {
  height: var(--sizeSelectBox);
  background-color: saddlebrown;
}
